<settings>
<servers>
  <server>
    <id>sarath4uthere-MyFirstrepo</id>
    <username>aws</username>
    <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
  </server>
</servers>
<profiles>
  <profile>
    <id>sarath4uthere-MyFirstrepo</id>
    <activation>
      <activeByDefault>true</activeByDefault>
    </activation>
    <repositories>
      <repository>
        <id>sarath4uthere-MyFirstrepo</id>
        <url>https://sarath4uthere-721689331564.d.codeartifact.eu-west-1.amazonaws.com/maven/MyFirstrepo/</url>
      </repository>
    </repositories>
  </profile>
</profiles>
<mirrors>
  <mirror>
    <id>sarath4uthere-MyFirstrepo</id>
    <name>sarath4uthere-MyFirstrepo</name>
    <url>https://sarath4uthere-721689331564.d.codeartifact.eu-west-1.amazonaws.com/maven/MyFirstrepo/</url>
    <mirrorOf>*</mirrorOf>
  </mirror>
</mirrors>
</settings>
